$primariy-color: #c6538c;
$secondary-color: #46572c;
$background-color: #f2f2f2;


$font-color: #adb0b2;

html{
  font-size: 24px;
}

body {
  font-family: 'Roboto', sans-serif;

  

  .border_red {
    border: 2px solid $primariy-color;
  }

  #hero {
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;

    #hero_image {
      background-image: url('../../images/slide02.jpg');
      background-size: cover;
      background-position: center;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
      opacity: .7;
    }

    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 25px 15px;
      box-sizing: border-box;

      #hero_logo {
        color: $font-color;
        text-decoration: none;

        span {

          &:nth-child(1) {
            color: white;
          }

          &:nth-child(3) {
            text-transform: uppercase
          }

        }

      }

      nav {
        display: inline-block;
        
        #hero_nav_nav-icon {
          color: white;
          font-size: 20px
        }

        span {
          font-size: 20px;
          color: white;
          margin-left: 5px;
        }
      }
    }

    #hero_content {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      color: white;
    
      /* position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      transform: translate(-50%); */

      span {
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 2px;
      }

      #hero_content_line {
        background-color: white;
        width: 200px;
        height: 2px;
        margin: 25px;
      }

      h1 {
        font-size: 5rem;
      }
    }

    #hero_slider-nav {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;

      .hero_slider-nav-dots {
        width: 12px;
        height: 12px;
        margin: 0 10px;
        border-radius: 50%;
        background-color: white;
        opacity: .6;

        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }


  /**
  HEADER TEXTS
  contains sub text, divider & main text
  **/

  .header-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1rem 0px;


    .subtext{
      text-transform: uppercase;
      font-size: 0.6rem;
      font-weight: 300;
      letter-spacing: 3px;
      color: $font-color;
      
      .line{
        height: 1px;
        margin: 1rem;
        background-color: $font-color;
      }
    }

    .maintext{
      font-size: 1.5rem;
    }
  }

  /**
  CARDS
  contains card
  **/

  .cards {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    padding: 4rem 6rem;
    background-color: $background-color;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6%;


    /**
    CARD
    contains image, header-texts, continous text & footer
    **/
    .card {
      background-color: #fff;

      div.card-img {
        width: 100%;
        height: 300px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .card-content{
        display: grid;
        grid-template-rows: max-content 5rem max-content;

        height: 50%;
        padding: 5px 25px;

        .card-text{
          font-size: 0.8rem;
          color: $font-color;
          line-height: 1.25rem;
          overflow: hidden;

        }
      }
      .card-footer{
        padding: 1.5rem 0px;
        margin: 0px auto;
      }
    }


    /**
    BUTTON
    **/

    .button{
      text-transform: uppercase;
      font-size: 0.9rem;
      box-sizing: border-box;
      display: inline-block;
      border: solid 2px $font-color;
      padding: 0.5rem 0.8rem;
    }
  }
}


